nltk
pandas
numpy
spacy
sklearn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.5/en_core_web_sm-2.2.5.tar.gz#en_core_web_sm
profanity
google-cloud-firestore
httplib2
sendgrid
starkbank-ecdsa
pycrypto
textblob
vaderSentiment